input[type=text] {
    padding: 0.5rem;
    margin: 1rem 0;
    width: 20rem;
    background-color: var(--primary-bg-color);
    border: 0.15rem solid var(--secondary);
    color: var(--primary);
    font-weight: bold;
}
input[type=text]:focus {
    color: var(--secondary);
    font-weight: bold;
}
.qrcode {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18rem;
    height: 18rem;
}
.thecode {
    background-color: var(--primary);
    padding: 1rem;
}
button {
    display: block;
    margin: 1rem auto;
    width: 6rem;
    height: 1.75rem;
    color: var(--primary);
    font-weight: bold;
    background-color: var(--primary-bg-color);
    border: 0.15rem solid var(--secondary);
}
button:hover {
    border: 0.15rem solid var(--tertiary);
    cursor: pointer;
}